[user]
    name = Alex McCausland
    email = alex.mccausland@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    up = pull origin
    st = status
    di = diff
    co = checkout
    ci = commit
    br = branch
    sta = stash
    ls = ls-files
    fo = fetch origin
[core]
    pager = less +/---
    editor = vim
[apply]
    whitespace = strip
[push]
    default = current

