[user]
    name = Alex McCausland
    email = alex.mccausland@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    up = pull origin
    st = status
    di = diff
    co = checkout
    ci = commit
    br = branch
    sta = stash
    ls = ls-files
    fo = fetch origin
    pf = push --force-with-lease
    lr = pull --rebase
    rd = rebase develop
    rr = rebase "release/gata#0.97.0"
    recent = recent-branches
    rl = reflog
    dev = checkout develop
    master = checkout master
[core]
    editor = vim
[apply]
    whitespace = strip
[push]
    default = current
[branch]
    #autoSetupRebase = always

