# Some common types we don't want to track
*.swp
*.mkv
*.mp4
*.zip
*.part

# Common root folders
/desktop
/downloads
/content
/dev
/lib
/pkg
/workspace
/.cache

# Local State
/dump.rdb
/.bash_history
/.fehbg
/.node_history
/.rediscli_history
/.steam*
/.sudo_as_admin_successful
/.v8flags*

# Junk configs
/.config/google-chrome

*
